[submodule "modules/postgres"]
	path = modules/postgres
	url = git@github.com:roidelapluie/puppet-postgres.git
[submodule "modules/cluster"]
	path = modules/cluster
	url = git@github.com:roidelapluie/puppet-cluster.git
[submodule "modules/site"]
	path = modules/site
	url = git@github.com:roidelapluie/postgres-9-demo-site.git
